*{
    border: 0;
    padding:0;
    
}
body{
    background-color: whitesmoke;
}
.main-body{
    margin-top: 100px;
}
.nav-item{
    font-size: 20px;
}
.nav-style{
    display: flex;
    height: 40px; 
    margin-left: 20px;
}
.nav-style-img{
    height: 55px;
    width: 80px;
}
.navbar-custom{
    position: relative;
    left: 650px;
}
.search-button{
    width: 500px;
    position: absolute;
    width: 570px;
    height: 50px;
    left: 405px;
    top: 133px;
}
.button-style{
    height: 50px;
    width: 100px;
    text-align: center;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgba(59, 45, 100, 1);
    color: white;
}
#set-menu{
    margin-top:300px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.food-item{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
.food-name{
    border-radius: 0px 0px 10px 10px;
    background-color: whitesmoke;
    background-color: rgba(237, 210, 99, 1);
    font-weight: bold;
    text-align: center;
    width: 270px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.food-image{
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(237, 210, 99, 1);
    width: 270px;
    height: 226px;
}
.error-msg{
    text-align: center;
}
.ingredient{
    background-color: whitesmoke;
    display: none;
    border: solid 2px rgba(237, 210, 99, 1);
    border-radius: 10px;
}
.ingredient h3{
    margin-top: 10px;
}
.ingre-style{
    background-color: whitesmoke;
    margin-left: 10px;
}

@media (max-width: 992px){
    .search-button{
        position: absolute;
        left: 215px;
    }
}